# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Pytest
.pytest_cache/

# Misc
.DS_Store
.ipynb_checkpoints/
.env
